---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Article16jours from "../../components/16jours/Article16jours.jsx";
---


<BaseLayout title="16 Jours d'activisme 2024 -AMP BENIN">
  <section class="bg-white text-gray-800 py-12 px-4 md:px-12">
    <Article16jours client:load />
  </section>
</BaseLayout>

