[build]
  command = "npm install --legacy-peer-deps && npm run build"
  publish = "dist"

[functions]
  directory = ".netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
