---
import VolunteersManager from '../components/VolunteersManager.jsx';
//import GenerateCertificate from '../components/GenerateCertificate.jsx';
//import SaveVolunteers from '../components/SaveVolunteers.jsx';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Missions | AMP BENIN</title>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="bg-gray-100">
    <!-- Composant React chargé côté client -->
    <VolunteersManager client:load />
  </body>
</html>
