---
import ReportDownloader from "../../components/gestionamp/reports/ReportDownloader.jsx";
import LogoutButton from "../../components/gestionamp/common/LogoutButton.jsx";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Rapports | AMP BENIN</title>
  </head>

  <body>
    <main style="padding:20px;">
      <LogoutButton client:load />

      <h1>Rapports AMP BENIN</h1>

      <ReportDownloader client:load />
    </main>
  </body>
</html>
